.bg_footer {
	padding-top: 80px;
	padding-bottom: 33px;
	background: $background-color;
}
.baseline {
}
.baseline-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 128px;
}
.footer-title {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 86px;
	color: $font-secondary;
}
.footer-subtitle {
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 86px;
	color: $font-secondary;
}
.btn-light {
	padding: 24px 48px;
	border-radius: 170px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	background-color: $font-secondary;
	color: $font-main;

	transition-property: background-color;
	@extend %animation;
	&:hover,
	&:focus {
		background-color: $background-light;
	}
}
.social-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.coppy {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: $font-main-light;
}
.social {
	display: flex;
	gap: 32px;
}
.social-link {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: $font-main-light;

	transition-property: color;
	@extend %animation;
	&:hover,
	&:focus {
		color: $white;
	}
}
.contacts-footer {
    padding-bottom: 80px;
}
