.main-wrapper {
	@media screen and (min-width: $min-brp-xl) {
		margin-top: 170px;
	}
}
.section {
	padding-top: 58px;
	padding-bottom: 96px;
}
.section-wrapper {
	display: flex;
	@media screen and (max-width: $max-brp-md) {
		flex-direction: column;
	}
	@media screen and (min-width: $min-brp-md) and (max-width: $max-brp-xl) {
		flex-direction: column;
	}
	@media screen and (min-width: $min-brp-xl) {
		justify-content: space-between;
	}
}
.contacts-wrapper {
	@media screen and (max-width: $max-brp-md) {
		margin-bottom: 40px;
	}
	@media screen and (min-width: $min-brp-md) and (max-width: $max-brp-xl) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@media screen and (min-width: $min-brp-xl) {
		flex-direction: column;
	}
}
.logo-contact {
	display: block;
	background-color: $background-light;
	border-radius: 50%;
	margin: 0;
	@media screen and (max-width: $max-brp-md) {
		margin: 0 auto;
	}
}
.social-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	margin-top: 56px;
	color: $font-main;
	font-size: 18px;
	@media screen and (max-width: $max-brp-md) {
		display: flex;
		justify-content: center;
	}
}
.socials {
	@media screen and (max-width: $max-brp-md) {
		display: flex;
		justify-content: center;
		flex-direction: row;
		justify-content: space-between;
	}
}
.contacts-link {
	font-weight: 400;
	line-height: 140%;
	margin-top: 8px;
	color: $background-color;

	transition-property: color;
	@extend %animation;
	&:hover,
	&:focus {
		color: $hover;
	}
	@media screen and (max-width: $max-brp-md) {
		font-size: 17px;
	}
	@media screen and (min-width: $min-brp-md) and (max-width: $max-brp-xl) {
		font-size: 22px;
	}
	@media screen and (min-width: $min-brp-xl) {
		font-size: 27px;
	}
}
