.hero {
	display: flex;
	align-items: flex-end;
	text-align: center;
	height: 100%;
}
.hero-bg {
	background: $background-light;
	background-image: url(../images/favicon.png);
	object-fit: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin-inline: auto;
	margin: 0 auto;
	@media screen and (max-width: $max-brp-sm) {
		height: 400px;
	}
	@media screen and (min-width: $min-brp-sm) {
		height: 550px;
	}
	@media screen and (min-width: $min-brp-xl) {
		height: 700px;
	}
}
.hero-title {
	margin: 0;
	font-style: normal;
	font-weight: 900;
	line-height: 1.36;
	text-transform: uppercase;
	color: $font-secondary;
	@media screen and (max-width: $max-brp-xl) {
		width: 100%;
		font-size: 50px;
	}
	@media screen and (min-width: $min-brp-md) {
		font-size: 100px;
	}
	@media screen and (min-width: $min-brp-xl) {
		width: 100%;
		font-size: 150px;
	}
}
