.hero-bg {
    // padding-top: 200px;
    // padding-bottom: 200px;
    margin: 0 auto;
    background: var(--background-color);
    // background-image:
    // linear-gradient(rgba(47,48,58,0.4),
    // rgba(47,48,58,0.4)),
    // url(../images/hero/sm/header1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // max-width: 1600px;


    // 480
    @media screen
    and (max-width: $max-brp-md) {
        background-image:
        linear-gradient(rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)),
        url(../images/hero/sm/header1x.jpg);
        object-fit:contain;
        max-width: 480px;

        @media screen and (min-width: $min-brp-sm) 
        and (max-width: $max-brp-md),
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
            linear-gradient(rgba(47,48,58,0.4),
            rgba(47,48,58,0.4)),
            url(../images/hero/sm/header2x.jpg);
            object-fit:contain;
            background-size: cover;
            max-width: 480px;
        }
    }
    // 768
    @media screen and (min-width: $min-brp-md) 
    and (max-width: $max-brp-xl) {
        background-image:
        linear-gradient(rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)),
        url(../images/hero/md/header1x.jpg);
        object-fit:contain;
        max-width: 768px;


        @media screen and (min-width: $min-brp-md) 
        and (max-width: $max-brp-xl),
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
            linear-gradient(rgba(47,48,58,0.4),
            rgba(47,48,58,0.4)),
            url(../images/hero/md/header2x.jpg);
            object-fit:contain;
            background-size: cover;
            max-width: 768px;
        }
    }


    // 1600
    @media screen and (min-width: $min-brp-xl) {
        background-image:
        linear-gradient(rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)),
        url(../images/hero/xl/header1x.jpg);
        object-fit:contain;
        background-size: cover;
        max-width: 1600px;

        @media screen and (min-width: $min-brp-xl),
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
            linear-gradient(rgba(47,48,58,0.4),
            rgba(47,48,58,0.4)),
            url(../images/hero/xl/header2x.jpg);
            object-fit:contain;
            background-size: cover;
            max-width: 1600px;
        }
    }
    // positio
    @media screen and (max-width: $max-brp-md) {
        margin-top: 60px;
    }
    @media screen and (max-width: $max-brp-xl) {
        padding-top: 118px;
        padding-bottom: 118px;
    }
    @media screen and (min-width: $min-brp-xl) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero {
    text-align: center;
}
.hero-title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    // font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-secondary);
    letter-spacing: 0.06em;
    text-shadow: 0px 4px 4px var(--shadow);
    margin: 0 auto;
    @media screen and (max-width: $max-brp-xl) {
        max-width: 360px;
        font-size: 26px;
    }
    // @media screen and (min-width: $min-brp-md) {

    // }
    @media screen and (min-width: $min-brp-xl) {
        width: 696px;
        font-size: 44px;
    }
}