// fonts color
$font-main: #3C3D3E;
$font-secondary: #F4F7FA;
$font-main-light: #C7D0D9;
$font-main: #212121;
// font
$fontPrimary: 'Quantico', sans-serif;
$fontSecondary: 'Inter', sans-serif;
// adds
$white: #fff;
$background-light: #C7D0D9;
$background-color: #0B0C0E;
$background-dark: #3C3D3E;
$foter-nomber: rgba(255, 255, 255, 0.6);
$hover: #f34121;
$hover-light: #188ce8;
$border: #ececec;
$social: #afb1b8;
$footer-btn: rgba(255, 255, 255, 0.1);
// social team Up
